.table-data{
    text-align: center;
}
table{
    margin: 20px auto;
    
}

th, td {
    padding: 5px;
}
.btn-edit{
    background-color: orange;
    padding: 8px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
}
.btn-hapus{
    background-color: red;
    border: none;
    padding: 8px;
    margin-left:2px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.btn-add{
    margin-top:20px ;
    position: relative;
    left: 60px;
    background-color: rgb(80, 80, 247);
    border: none;
    padding: 8px;
    margin-left:2px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
i{
    color: white;
}
button[class="btn-edit"]:hover{
    background-color: #c06d00;
}
button[class="btn-hapus"]:hover{
    background-color: #a50000;
}

