
nav{
    background-color: white;
    border-bottom: 1px solid #c0c0c0;
    box-shadow: 0 5px 5px #c0c0c0;
}
nav ul li{
    display: inline-block;
    padding: 30px;
    color: rgb(0, 89, 148);
    font-weight: bolder;
    float: right;
}

nav ul li:hover{
color: rgb(0, 204, 255);
}

.title-nav{
    float: left;
    line-height: 80px;
    color: rgb(0, 89, 148);

    margin-left: 20px;
}
.clear{
    clear: both;
}
